body {
  display: flex;
  justify-content: space-around;
}
textarea {
  resize: none;
}
.display_none {
  display: none;
}
.book-items {
  border: solid #000 2px;
}
.right-side {
  width: 70%;
  min-height: 250px;
  border: solid #000 2px;
}
.book-item_active {
  color: red;
}
.book-item_read {
  background-color: cyan;
}
.modal {
  position: fixed;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 50%;
  background-color: darkcyan;
}
.modal__form {
  display: flex;
  flex-direction: column;
}
.modal__form * {
  margin: 10px;
}
